body {
    font-family: 'Anton', sans-serif;
    background-image: url("../images/bkgimg.jpg");
    background-color: red;
}

#container {
    margin: auto;
}

@media scr and (max-width:320) {
    #container {
        width: 300px;
        box-sizing: border-box;
    }
    #contentNav>ul>li {
        width: 100%;
    }
}

#searchBoxTop {
    padding-top: 2px;
    margin: auto;
    width: 50%;
    display: none;
    box-sizing: border-box;
}

#headerWrapper {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#headerWrapper>h1 {
    display: inline-block;
    /*vertical-align: top;*/
    width: 25%;
    padding-top: 3.5%;
}

header {
    padding: 10px;
    width: 1200px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    height: 8em;
}

header h1 {
    box-sizing: border-box;
    width: 100px;
    font-size: 4em;
    color: black;
    float: left;
    text-transform: uppercase;
}

header>div>h1>a:hover {
    background-color: gray;
    color: black;
    border-radius: 1em;
}

header h1 a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 1s ease;
    transition: all ease 1s;
}

#container input {
    font-style: italic;
    font-family: inherit;
}

#homeNav {
    margin-bottom: 5%;
    vertical-align: middle;
}

#homeNav>ul>li {
    float: right;
    box-sizing: border-box;
    width: 10%;
    text-align: center;
    display: block;
}

#homeNav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    width: 100%;
    color: black;
    display: inline-block;
}

#homeNav>ul>li>a:hover {
    color: black;
    background: gray;
}

#contentNav {
    margin-bottom: 7.3%;
}

#contentNav>ul>li {
    float: left;
    box-sizing: border-box;
    width: 16.667%;
    text-align: center;
    background-color: #474546;
}

#contentNav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 100%;
    display: inline-block;
    color: white;
    padding-top: 36px;
    padding-bottom: 36px;
}

#contentNav>ul>li>a:hover {
    background-color: white;
    color: black;
    border-radius: 25px;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    margin-left: 320px;
    margin-right: 320px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

main {
    font-family: 'Anton', sans-serif;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

main>section {
    background-image: url("../images/bkgimg.jpg");
    padding: 5%;
    margin: auto;
    color: black;
    font-size: 30px;
}

main>article {
    margin: 5% 10%;
    color: black;
    font-size: 1.4em;
    float: left;
}

main>article>ul>li {
    margin: 0.3em;
    padding: 0.5em;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

main>article>ul>li:hover {
    background-color: white;
    color: red;
    cursor: pointer;
    border-radius: 1em;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.container{
    width: 100%;
    background-color: #d9d9d9;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.container:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffff;
    z-index: -1;
    top: -10%;
    left: -10%;
}

.container p{
    color: rgb(0, 0, 0);
    line-height: 2;
    font-size: 23px;
}

.container h3{
    color: rgb(0, 0, 0);
    margin: 20px 0 60px 0;
    font-weight: 60;
    text-transform: capitalize;
}

.container button{
    background-color: rgb(251, 230, 190);
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: darkslategrey;
    cursor: pointer;

}